# Verification

| Command                | Description                                                             |
| ---------------------- | ----------------------------------------------------------------------- |
| `/forceverify <@user>` | Manually verifies an unverified member                                  |
| `/verify`              | Makes Invite Tracker send you a verification message in direct messages |
